.hero {
    background-image: url(../../images/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
  }
  
  .hero__overlay {
    margin-left: 5rem;
    margin-bottom: 1rem;
    display: flex;
    /* position: absolute; */
    flex-direction:column;
    align-items: flex-end;
    align-content: flex-end;
    width: 65%;
    height: 28%;
    padding: 1.5em;
    border: 2px solid white;
  }
  
  .hero__title {
    height: 100px;
    line-height: 1;
  }
  